@import "../../mixin.scss";


.chat {
    // background: #000;
    width: 60vw;
    height: 70vh;
    position: relative;
    display: flex;

    @include ipad() {
        flex-direction: column;
        height: 90vh;
        width: 90vw;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -10px;
        left: -10px;
        background: rgba(255, 255, 255, 0.25);
        filter: blur(10px);
        z-index: -1;
    }

    .userList {
        flex: 3;
        display: flex;
        flex-direction: column;
        @include scrollBarStyle();

        @include ipad() {
            flex-direction: row;
            overflow-y: hidden;
            overflow-x: scroll;
            flex: 1;
        }


        div {
            background: rgba(255, 255, 255, .2);
            padding: 20px;
            margin-bottom: 5px;
            cursor: pointer;
            transition: .3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            @include ipad() {
                margin-right: 5px;
            }

            &:hover,
            &.active {
                color: white;
                font-size: 1.2rem;
            }
        }
    }

    .messageArea {
        flex: 9;


        .header {
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .name {
                color: white;
                font-weight: bolder;
                font-size: 2rem;
            }

            a {
                @include buttonStyle(1rem)
            }
        }

        .conversation {
            height: calc(100% - 150px);
            padding: 5px;
            @include scrollBarStyle();

            .messageGroup {
                background: rgba(255, 255, 255, .8);
                margin-bottom: 10px;

                div:first-child {
                    display: flex;
                    font-weight: 500;

                    span {
                        margin-left: 10px;
                    }
                }

                &.own {
                    div:first-child {
                        justify-content: end;
                    }

                    .message {
                        text-align: end;
                    }
                }
            }
        }

        .sendMessageArea {
            height: 100px;


            div {
                width: 100%;
                color: white;
                font-size: 1.5rem;
                text-align: center;
            }

            form {
                display: flex;
                align-items: center;

                input {
                    margin: 10px;
                    flex: 10;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    padding: 20px;
                    font-size: 1.1rem;
                }

                button {
                    flex: 2;
                    margin: 30px;
                    @include buttonStyle(1rem);
                    padding: 0;

                    @include ipad() {
                        // padding: 10px;
                        margin: 10px;
                        height: 60%;
                    }
                }
            }
        }
    }



}